.arrivals {
  width: 100%;
  padding: 0px 0px 0px 18px;
  margin-bottom: 151px;
}

.arrivals__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-right: 18px;
}

.arrivals__item-list {
  display: flex;
  margin-top: 63px;
  column-gap: 30px;
  width: 100%;
  overflow-x: scroll;
}

.arrivals__item-list::-webkit-scrollbar {
  display: none;
}

.arrivals-product {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 50px;
  background-color: #370665;
}

.arrivals-product__img {
  height: 322px;
  width: 325px;
  border-radius: 46px 46px 0px 0px;
  object-fit: cover;
}

.arrivals-product__bottom-section {
  color: #FFFFFF;
  width: 325px;
  border-radius: 0px 0px 50px 50px;
  padding: 16px 21px;
  background-color: #370665;
}

.arrivals-product__title {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.arrivals-product__features {
  padding-left: 19px;
  padding-bottom: 13px;
  padding-top: 8px;
}

.arrivals-product__feature {
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.arrivals-product__price {
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 18px;
  color: #fc9918;
}

.arrivals-product__buttons {
  display: flex;
  align-items: center;
  column-gap: 22px;
  width: 100%;
}

.arrivals-product__button {
  flex: 1;
  border-radius: 20px;
  border: none;
  color: #e5e5e5;
  background-color: #f14a16;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.05px;
  letter-spacing: 0.04em;
  padding: 14px 0px;
  box-shadow: 0 0 10px #f14a16;
  border: 3px solid #f14a16;
}

.arrivals-product__right-button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  border: 3px solid #f14a16;
  box-shadow: 0 0 10px #f14a16;
}

.arrivals-product__right-button-icon {
  height: 20.03px;
  width: 19px;
}

.arrivals-product__right-button-text {
  color: #f14a16;
  font-size: 13px;
  font-weight: 700;
  line-height: 12.18px;
}

@media only screen and (min-width: 1024px) {
  .arrivals {
    padding-left: 129px;
    margin-bottom: 180px;
  }

  .arrivals__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
  }

  .arrivals__item-list {
    column-gap: 106px;
  }

  .arrivals-product__img {
    width: 501px;
    height: 414px;
    object-fit: cover;
  }

  .arrivals-product__bottom-section {
    width: 501px;
  }

  .arrivals-product__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .arrivals-product__feature {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
  }

  .arrivals-product__price {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .arrivals-product__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.49px;
    letter-spacing: 0.04em;
  }

  .arrivals-product__right-button-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 12.18px;
  }

  .arrivals-product__price {
    margin-bottom: 23px;
    margin-top: 17px;
  }
}
