.offers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 22px 68px 22px;
}

.offers-section__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 56.03px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 54px;
}

.offers-section__image-details {
  position: relative;
}

.offers-section__image {
  width: 370px;
  height: 370px;
}

.offers-section__min-details {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 106px;
  height: 106px;
  min-width: 106px;
  min-height: 106px;
  border-radius: 50%;
  background-color: #370665;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers-section__offer-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.54px;
  letter-spacing: 0.02em;
  text-align: center;
}

.offer-section__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 46px 51px 67px 51px;
}

.offer-section__timer-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.85px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 25px;
}

.timer-count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 18px;
}

.timer-count__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  margin-bottom: 89px;
}

.timer-count__value {
  padding: 20px 15px 20px 15px;
  background-color: #370665;
  border-radius: 32px;
  font-size: 46px;
  font-weight: 700;
  line-height: 56.03px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.timer-count__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 38.98px;
  letter-spacing: 0.02em;
}

.offers-section__title--duplicate {
  display: none;
}

.offers-section__buttons {
  display: flex;
  column-gap: 25px;
  width: 100%;
}

.offers-section__button {
  flex: 1;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  border: 3px solid #f14a16;
  color: #f14a16;
}

.offers-section__button-1 {
  flex: 1;
  padding: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  border: 3px solid #f14a16;
  background-color: #f14a16;
  box-shadow: 0 0 10px #f14a16;
  color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
  .offers-section__title {
    display: none;
  }

  .offers-section {
    flex-direction: row;
    margin: 0px 189px 193px 189px;
  }

  .offers-section__title--duplicate {
    font-size: 65px;
    font-weight: 700;
    line-height: 79.17px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 107px;
    display: block;
  }

  .offer-section__timer-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 43.85px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .offers-section__button {
    font-size: 26px;
    font-weight: 400;
    line-height: 31.67px;
    letter-spacing: 0.04em;
  }

  .offers-section__button-1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 31.67px;
    letter-spacing: 0.04em;
  }
}
