.trends {
  width: 100%;
  padding: 26px 0px 26px 0px;
}

.trends__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

.trends__item-list {
  display: flex;
  margin-top: 60px;
  column-gap: 30px;
  width: 100%;
  overflow-y: scroll;
}

.trends__item-list::-webkit-scrollbar {
  display: none;
}

.trends-product {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 50px;
}

.trends-product__img {
  height: 220px;
  width: 250px;
  border-radius: 50px 50px 0px 0px;
  object-fit: cover;
}

.trends-product__bottom-section {
  border-radius: 0px 0px 50px 50px;
  padding: 11px 16px;
  width: 250px;
  color: #ffffff;
}

.trends-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.trend-product__features {
  padding-left: 14px;
  padding-bottom: 9px;
  padding-top: 8px;
}

.trend-product__feature {
  font-size: 12px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
}

.trends-product__price {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #fc9918;
  margin-bottom: 22px;
}

.trends-product__buttons {
  display: flex;
  align-items: center;
  column-gap: 17px;
  width: 100%;
}

.trends-product__button {
  flex: 1;
  border-radius: 20px;
  border: none;
  color: #e5e5e5;
  background-color: #f14a16;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.18px;
  letter-spacing: 0.04em;
  padding: 7px 0px;
  box-shadow: 0 0 10px #f14a16;
  border: 3px solid #f14a16;
}

.trends-product__right-button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  border: 3px solid #f14a16;
  box-shadow: none;
}

.trends-product__right-button-icon {
  height: 14.03px;
  width: 15.16px;
}

.trends-product__right-button-text {
  color: #f14a16;
  font-size: 10px;
  font-weight: 700;
  line-height: 12.18px;
}

@media only screen and (min-width: 1024px) {
  .trends {
    padding: 117px 129px 0px 129px;
  }

  .trends__title {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
  }

  .trends__item-list {
    column-gap: 124px;
  }

  .trends-product__img {
    width: 376px;
    height: 331px;
  }

  .trends-product__bottom-section {
    width: 376px;
    padding: 29px 35px;
  }

  .trends-product__title {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
  }

  .trend-product__feature {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
  }

  .trends-product__price {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
  }

  .trends-product__button {
    flex: 1;
    border-radius: 20px;
    border: none;
    color: #e5e5e5;
    background-color: #f14a16;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.49px;
    letter-spacing: 0.04em;
    padding: 19px 0px;
    box-shadow: 0 0 10px #f14a16;
    border: 3px solid #f14a16;
  }

  .trends-product__right-button--secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    border: 3px solid #f14a16;
    box-shadow: none;
  }

  .trends-product__right-button-icon {
    height: 26.03px;
    width: 30.16px;
  }

  .trends-product__right-button-text {
    color: #f14a16;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.49px;
    letter-spacing: 0.04em;
  }
}
