// styles for small devices
.arrivals {
  width: 100%;
  padding: 0px 0px 0px 18px;
  margin-bottom: 151px;

  &__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-right: 18px;
  }

  &__item-list {
    display: flex;
    flex-direction: row;
    margin-top: 63px;
    column-gap: 30px;
    width: 100%;
    overflow: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 10px;
      width: 100%;
    }

    & ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px grey;
      border-radius: 10px;
    }

    & ::-webkit-scrollbar-thumb {
      background: $primary-color;
      border-radius: 10px;
    }
  }

  &-product {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 50px;
    background-color: #370665;
    cursor: pointer;

    &__img-wrap {
      height: 322px;
      width: 325px;
      border-radius: 46px 46px 0px 0px;
      overflow: hidden;
    }

    &__img {
      height: 322px;
      width: 325px;
      border-radius: 46px 46px 0px 0px;
      object-fit: cover;
      @include normal-transition;

      @include hover-scale(1.2);
    }

    &__bottom-section {
      color: #ffffff;
      width: 325px;
      border-radius: 0px 0px 50px 50px;
      padding: 16px 21px;
      background-color: #370665;
    }

    &__title {
      font-size: 21px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.02em;
      text-align: left;
    }

    &__features {
      padding-left: 19px;
      padding-bottom: 13px;
      padding-top: 8px;
    }

    &__feature {
      padding-left: 19px;
      padding-bottom: 13px;
      padding-top: 8px;
      font-size: 15px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.02em;
      text-align: left;
    }

    &__price {
      font-size: 21px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-bottom: 18px;
      color: #fc9918;
    }

    &__buttons {
      display: flex;
      align-items: center;
      column-gap: 22px;
      width: 100%;
    }

    &__button {
      flex: 1;
      border-radius: 20px;
      border: none;
      color: #e5e5e5;
      background-color: $primary-color;
      font-size: 13px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0.04em;
      padding: 14px 0px;
      box-shadow: 0 0 10px $primary-color;
      border: 3px solid $primary-color;
      cursor: pointer;
      @include normal-transition;
      &:hover {
        transform: translateX(8px);
        background-color: black;
        opacity: 0.9;
      }
    }

    &__right-button--secondary {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 6px;
      border-radius: 20px;
      border: none;
      background-color: transparent;
      border: 3px solid $primary-color;
      box-shadow: 0 0 10px $primary-color;
    }

    &__right-button-icon {
      height: 20px;
      width: 19px;
    }

    &__right-button-text {
      color: $primary-color;
      font-size: 13px;
      font-weight: 700;
      line-height: 12px;
    }
  }
}

// styles for large devices
@media only screen and (min-width: 1024px) {
  .arrivals {
    padding-left: 129px;
    margin-bottom: 180px;

    &__title {
      text-align: center;
      padding-right: 129px;
      font-size: 64px;
      font-weight: 700;
    }

    &__item-list {
      column-gap: 106px;
    }

    &-product {
      &__img-wrap {
        width: 501px;
        height: 414px;
        overflow: hidden;
      }

      &__img {
        width: 501px;
        height: 414px;
        object-fit: cover;
      }

      &__bottom-section {
        width: 501px;
      }

      &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-align: left;
      }

      &__feature {
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.02em;
      }

      &__price {
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 23px;
        margin-top: 17px;
      }

      &__button {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.04em;
      }

      &__right-button-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 12px;
      }
    }
  }
}
