// proxima nova - font family

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_rgregular";
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

// main - layout

.body {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;

  .item-display {
    display: flex;
    &--none {
      display: none;
    }
  }

  .pop-up-close {
    transform: translateX(-100%);
  }

  .pop-up-view {
    transform: translateX(0px);
  }

  // dark theme

  &__dark {
    .menu-background {
      background-color: $primary-dark-background;
    }

    .search-icon {
      display: none;
    }

    .blur-gradient {
      background-image: linear-gradient(to top, #100619, transparent);
    }

    @media only screen and (min-width: 1024px) {
      .search-icon {
        z-index: 1;
        display: inline;
        height: 30px;
        width: 30px;
        @include background-icon("../images/icons/search-light.svg");
      }
    }

    .cart-icon {
      z-index: 1;
      height: 30px;
      width: 30px;
      @include background-icon("../images/icons/cart-icon.svg");

      background-size: cover;
    }

    .input-background {
      background-color: #f8f8f8;
    }

    .trends-product-background {
      background: linear-gradient(
        163.76deg,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.1) 100.82%
      );
    }

    .input-shadow {
      border: none;
    }

    .toggle-position {
      cursor: pointer;
    }

    .toggle-background {
      background-color: $primary-dark-background;
      box-shadow: none;
    }

    .menu {
      height: 20px;
      width: 21px;
      @include background-icon("../images/icons/menu.svg");
    }

    .product-card {
      backdrop-filter: blur(10px);
      background-image: linear-gradient(
        116.15deg,
        rgba(192, 192, 192, 0.63) -10.88%,
        rgba(255, 255, 255, 0.49) -10.87%,
        rgba(255, 255, 255, 0.07) 74.79%
      );
    }

    .move-down {
      @include background-icon("../images/icons/down-arrow.svg");

      border: 1px solid $primary-light-text-color;
    }
  }

  // light theme

  &__light {
    .menu-background {
      background-color: $primary-light-background;
    }

    .blur-gradient {
      background-image: linear-gradient(
        to top,
        $primary-light-background,
        transparent
      );
    }

    .search-icon {
      display: none;
    }

    @media only screen and (min-width: 1024px) {
      .search-icon {
        z-index: 1;
        display: inline;
        height: 30px;
        width: 30px;
        @include background-icon("../images/icons/search-dark.svg");
      }
    }

    .cart-icon {
      z-index: 1;
      height: 30px;
      width: 30px;
      @include background-icon("../images/icons/cart-dark.svg");
      background-size: cover;
    }

    .input-background {
      background: rgba(255, 255, 255, 0.6);
    }

    .trends-product-background {
      background-color: #282828;
    }

    .toggle-background {
      background-color: $primary-light-background;
    }

    .input-shadow {
      border: 2px solid #e5e5e5;
      box-shadow: 0px 5px 5px grey;
    }

    .toggle-position {
      transform: translateX(-35px);
      cursor: pointer;
    }

    .menu {
      height: 20px;
      width: 21px;
      @include background-icon("../images/icons/menu-dark.svg");
    }

    .product-card {
      background-color: #676767;

      color: $primary-light-text-color;
      background-image: linear-gradient(
        116.15deg,
        rgba(192, 192, 192, 0.63) -10.88%,
        rgba(255, 255, 255, 0.49) -10.87%,
        rgba(255, 255, 255, 0.07) 74.79%
      );

      @media only screen and (min-width: 1024px) {
        background-color: transparent;
        background-image: linear-gradient(
          116.15deg,
          rgba(192, 192, 192, 0.63) -10.88%,
          rgba(255, 255, 255, 0.49) -10.87%,
          rgba(255, 255, 255, 0.07) 74.79%
        );
        backdrop-filter: blur(10px);
        color: $primary-dark-text-color;
      }
    }

    .move-down {
      @include background-icon("../images/icons/down-arrow-dark.svg");
      border: 1px solid $primary-dark-text-color;
    }
  }

  &__top-section {
    padding: 26px 0px 26px 24px;
    height: 100%;
    width: 100%;
    position: relative;
    &--dark {
      color: $primary-light-text-color;
      background: radial-gradient(
        circle at 25% 50%,
        #243960,
        #101423,
        #100619 80%
      );
    }

    &--light {
      background-color: $primary-light-background;
      color: $primary-dark-text-color;
      background: radial-gradient(circle at 25% 50%, white, white, white 80%);
    }
  }

  &__bottom-section {
    &--dark {
      background-color: $primary-dark-background;
      color: $primary-light-text-color;
    }

    &--light {
      background-color: $primary-light-background;
      color: $primary-dark-text-color;
    }
  }
}
