// Styles for small devices
.accessories {
  padding: 0px 16px 80px 16px;
  width: 100%;

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 34.1px;
    letter-spacing: 0.04em;
    text-align: center;
    padding-left: 13px;
    margin-bottom: 43px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
  }

  &__image {
    height: 211px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    border: 2px solid white;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
  }
}

// Styles for large devices
@media only screen and (min-width: 1024px) {
  .accessories {
    padding: 0px 127px 123px 127px;

    &__title {
      font-size: 65px;
      font-weight: 700;
      line-height: 79px;
      letter-spacing: 0.04em;
      text-align: center;
      margin-bottom: 143px;
    }

    &__list {
      flex-flow: row wrap;
      gap: 30px;
    }

    &__image-wrapper {
      width: 100%;
      flex-direction: row;
      column-gap: 30px;
    }

    &__image {
      height: 400px;
      width: 50%;
      flex: 1;
      object-fit: cover;
      border-radius: 25px;
      border: none;
    }
  }
}
