$font-family: 'Proxima Nova';

// primary theme colors 

$primary-dark-background: #000000;
$primary-light-background: #FAFAFA;

// primary text colors 

$primary-light-text-color: #FFFFFF;
$primary-dark-text-color:#000000;

// primary color

$primary-color: #F14A16;

// search input background 

$search-input-background: #f8f8f8;