// font family

$font-family: 'Proxima Nova';

$primary-dark-background: #000000;
$primary-light-background: #FAFAFA;

$primary-light-text-color: #FFFFFF;
$primary-dark-text-color:#000000;

$primary-color: #F14A16;